.heading--small {
    font-size: 2.5rem;
}

.edit {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.edit__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid yellow; */
    max-width: 50%;
    font-size: 1.25rem;
    padding: 2rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.861);
}

.edit__form__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.edit__form__checkbox {
    display: flex;
    gap: 5px;
}

textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
}

.edit__btn {
    display: inline-block;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(17, 148, 148);
    color: whitesmoke;
}

.edit__btn:hover {
    opacity: 0.8;
}