/* Blocks */

.forgot {
  min-height: calc(100vh - 70px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Elements */

.forgot__title {
  font-size: 3.5rem;
  text-align: center;
}

.forgot__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 70%;
}

.forgot__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 1.8rem;
  border-radius: 2px;
  background-color: rgb(22, 122, 235);
  color: white;
}

.forgot__btn:hover {
  cursor: pointer;
  background-color: rgba(22, 122, 235, 0.906);
}
