@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&display=swap');

/* Variables */

:root {
  --FORM_WIDTH: 40%;
  --MAIN-BG-COLOR:background-color: rgba(0, 0, 0, 0.896);
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
button,
input {
  font: inherit;
}

ul li {
  list-style-type: none;
}

button,
input[type='submit'] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
/* General Styles */

img {
  width: 100%;
  display: block;
}

input {
  padding: 0.2rem 0.5rem;
  outline: none;
}

body {
  background-color: rgba(0, 0, 0, 0.896);
  color: whitesmoke;
  font-family: 'Afacad', sans-serif;
}

/* Utility */

.subheading {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 1rem 0;
}

.heading {
  font-size: 3rem;
}

/* Blocks */
.modal {
  background-color: rgba(0, 0, 0, 0.977);
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 3rem 2rem;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 8px solid white;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.744);
  z-index: 2;
}

/* Elements */

.modal__title {
  font-size: 2rem;
}
.modal__item {
  font-size: 1.5rem;
}

.modal__close {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: whitesmoke;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 2px;
}

.modal__close:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.936);
  background-color: rgba(245, 245, 245, 0.92);
}

/* Modifiers */

/* error */
.modal--error {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal__close--error {
  color: #b53021;
}
.modal__close--error:hover {
  color: rgba(181, 48, 33, 0.847);
}

/* success */

.modal--success {
  background: #52c234; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #184e04,
    #52c234
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #184e04,
    #52c234
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal__close--success {
  color: rgb(58, 151, 32);
}
.modal__close--success:hover {
  color: rgba(58, 151, 32, 0.852);
}
