/* Blocks */

body {
  position: relative;
}

.registration {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.error {
  background-color: rgb(210, 25, 25);
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 3rem 2rem;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  z-index: 2;
}

/* Elements */

.registration__title {
  font-size: 3.5rem;
  text-align: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 70%;
}

.registration__link,
.registration__link:visited {
  color: rgb(37, 129, 235);
}

.registration__link:hover {
  color: rgba(37, 129, 235, 0.906);
}

.registration__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 1.8rem;
  border-radius: 2px;
  background-color: rgb(22, 122, 235);
  color: white;
}

.registration__btn:hover {
  cursor: pointer;
  background-color: rgba(22, 122, 235, 0.906);
}

.error__title {
  font-size: 2rem;
}
.error__item {
  font-size: 1.5rem;
}
